<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column content is-three-fifths">
				<h1>Dummy Block of Content</h1>	
				<p class="hero-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada, sem a malesuada aliquet, mi justo faucibus ligula, vitae cursus orci ante sed nibh. Curabitur mollis elit sit amet luctus cursus. Nullam turpis dui, placerat et urna ut, scelerisque ultrices leo. Proin vel viverra orci. Proin a ullamcorper massa. Etiam efficitur, mi sed congue malesuada, tellus orci pretium nisl, sed tincidunt urna sapien eu elit. Maecenas vehicula, neque sed congue pellentesque, purus enim ornare urna, eu malesuada magna orci sed leo. Vivamus eu leo ac sapien varius rutrum. Fusce sed malesuada dolor. Aenean quis gravida tortor. Nam vehicula ipsum in placerat ultrices. Donec blandit elit at lacus tincidunt hendrerit.</p>
			</div>
			<div class="column hero-image">
				<img src="/assets/images/security-banner.png">
			</div>
		</div>
	</div>	
</section>
