<footer class="footer">
	<div class="container content">
		<div class="columns has-text-centered">
			<div class="column">
				${require('./social-links.html')}
			</div>
		</div>

		<div class="columns  footer-second-nav">
			<div class="column is-one-third footer-copyright">
				Copyright All Rights Reserved 2019
			</div>
			<div class="column footer-links">
				<a href="https://support.jumpcloud.com/">Support</a>
				<a href="https://jumpcloud.com/privacy/">Privacy Policy</a>
				<a href="https://jumpcloud.com/trust/">Trust</a>
				<a href="https://jumpcloud.com/legal/">Legal</a>
				<a href="https://jumpcloud.com/security/">Security</a>
				<a href="https://jumpcloud.com/gdpr/">GDPR</a>
			</div>
		</div>
	</div>
</footer>