<nav class="navbar">
  <div class="navbar-holder">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://jumpcloud.com">
          <img src="/assets/images/logo-2018.svg" alt="" width="196" height="47">
        </a>
        <div class="navbar-burger burger" data-target="jc-navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="jc-navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item navbar-item-link" href="https://jumpcloud.com/product/">
              Product
            </a>
            <a class="navbar-item navbar-item-link" href="https://jumpcloud.com/pricing/">
              Pricing
            </a>
            <a class="navbar-item navbar-item-link" href="https://jumpcloud.com/partners/">
              Partners
            </a>
            <a class="navbar-item navbar-item-link" href="https://jumpcloud.com/resources/">
              Resources
            </a>
            <a class="navbar-item navbar-item-link" href="https://jumpcloud.com/blog/">
              Blog
            </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a href="https://console.jumpcloud.com/" class="navbar-item navbar-item-link">Log In</a>
            <a href="https://jumpcloud.com/signup/" class="navbar-item navbar-item-link button is-primary">Get Started</a>
          </div>
        </div>
      </div>
  </div>
</nav>